body{
    background: white url(/img/Bitmap.png)  no-repeat;
   margin: 0, auto;
}

#tria{
    position: absolute;
    width: 55px;
    height: 35px;
    left: 164px;
    top: 27px;
}
#logo{
    position: absolute;
    width: 179 px;
    height: 33px;
    left: 230px;
    top: 23px;
}
p,h1, h2, h3, a {
    font-family: 'POPPINS', sans-serif;
}
.header{
    display: block;
    margin-top: 190px;
    margin-left:164px;
}
.header p {
    font-weight: light;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    width: 581px;

}
h1{
   
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
    width: 616px;
    height: 222px;
    margin-top: 22px
}
#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 1240px;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position:sticky;
    top: 20px;
    left: 1240px;
    width: 26px;
    height: 26px;
    padding:3px 1px 3px 7px ;
    border-radius: 20px;
    background-color: #F5F6F7;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
  
    width: 20px;
    height: 2px;
  
    background-color: #616161;
  
    
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 25px;
    left: -100%;
  
    width: 200px;
    height: 200px;
  
    margin: 0;
    padding: 50px 0;
  
    list-style: none;
  
    background-color: #F5F6F7;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
.header img{
    width: 12px;
    margin-top: 44px;
    margin-right: 6px;
}
a{
    font-size: 16px;
    font-weight: 700;
    color: #FFD723;
    height: 24px;
}
.logos{
    position: relative;
    background-color: white;
    width: 1276px;
    height: 227px;
    margin-top: 107px;
    margin-left: 156px;
    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 2px;
    z-index: 2 ;
}
.logos img{
    display: inline;
    width: 156px;
    height: 113px;
    padding: 60px 33px 54px 33px;
}
#first-logo{
    margin-left: 65px;
}
.wrapper{
    margin-top: 120px;
    margin-left: 165px;
    display: flex;
}
#bg{ position: relative;
    background: rgba(255, 215, 35, 0.1);
    width: 240px;
    top: -77px;  left: 167px;
}
.wrapper p{
    color:#21384299;    

}
#dev {
   margin-top: -109px;
}
.strategy{
    width: 475px;
    height: 138px;
}
.left a{
    margin-top: 42px;
}
.left{
    width: 475px;
    height: 138px; 
    display: block; 
}
.left p{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 40px;
}
.left h2{
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    color: #4D533C;
}
.top-body h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.5px;
    margin-top: 29px;
    margin-bottom: 35px;
    height: 138px;
    color: #4D533C;
 
}
.grey{
    color:#D4D6D4;      
}
.grey img{
    width: 12px;
    margin-right: 6px;
}
.right{
    margin-left: 200px;
    width: 474px;
    height: 522px;
    background: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    position:relative;
    top:-121px;
    z-index: 1;
}
.right p{
    width: 426px;
    height: 200px;
    font-style: italic;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #4D533C;
    padding: 120px 8px 64px 40px;
    margin-bottom: -50px;
}
.right img{
    width: 140px;
    margin-left: 30px;
}
.right h3{
    
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: -120px;
    margin-left: 60px;
}
.wrap p{
    margin-left: 109px;
    margin-top: -130px;
    height: 24px;
   font-size: 16px;
   font-style: normal;
}
hr{
    border-bottom: 1px solid #21384218;
    width: 1110px;
    margin-left: 165px;

}
.top-body{
    display: flex;
    margin-top: 100px;
    margin-left: 165px;
}
.top-body p{
    width: 518px;
    height: 78px;
    margin-left: 133px;
    margin-top: 30px;
    color:#21384299;
}
.first{
    position: absolute;
}
.first-left{
    margin-left: 514px;
    width: 453px;
    height: 243px;
    background: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    position:relative; 
    right: 190px;
    bottom: 200px;
    border-radius: 8px;
}
.first-left p{   
    font-style: italic; 
    padding:30px 33px 0px 30px;
    color: #4D533C;
}
.first-left h3{
    margin-top: -120px;
    margin-left: 88px;
    color: #4D533C;
}
.wrap2 p{
    margin-top: -52px;
    margin-left: 58px;
    font-style: normal;
    color: #152934;
}
.body1{
    position: absolute;
}
.first img{
    margin-left: -8px;
}
.first-right{
    width: 421px;
    position: relative;
    left: 832px;
    bottom: 780px;
    
}
.oval img{
    margin-left: 9px;
}
.first-right h2{
    width: 475px;
    height: 104px;
    margin-bottom: 24px;
    font-size: 36px;
    color: #4D533C;
    
}
.first-right p{
    font-size: 16px;
    color: rgba(33, 56, 66, 0.6);
    margin-top: 0;
    height: 156px;
    margin-bottom: 90px;
}
.body2{
    margin-top: 700px;
    float:inline-end;
}
.second{
    position: relative;
    left: 20px;
}
.second-right{
    width: 421px;
    position: relative;
    left: 677px;
    bottom: 360px;
}
.second-rightt {   
    position: relative;
    right: 50px; 
    bottom: 215px;
    padding:30px 33px 0px 30px;width: 453px;
    height: 243px;
    background: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    border-radius: 8px;
}
.second-rightt h3{ 
   
    margin-top: -120px;
    margin-left: 65px;
    padding-bottom: 8px;
    font-style: normal;
    color: #4D533C;
}
.second-rightt img{
    margin-left: -19px;
}
.second-rightt p{
    font-style: italic;
    color: #4D533C;
    font-size: 16px;
    line-height: 26px;

}
.wrap-n3 p{
    margin-top: -28px;
    margin-left: 66px;
    font-style: normal;
    color: #152934;
}
.second-left{
    position: relative;
    width: 421px;
    top: 110px;
   left: 90px;
}
.second-left p{
    color: #21384299;
    font-size: 16px;
    margin-bottom: 90px;
}
.second-left h2{
    color: #4D533C;
    font-weight: 700;
    font-size: 36px;

}
.body3 {
    position: relative;
    bottom: 480px;
}
.third{
    height: 600px;
}
.third-left{
    margin-left: 514px;
    width: 453px;
    height: 243px;
    background: #FFFFFF;
    box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
    position:relative; 
    right: 190px;
    bottom: 200px;
    border-radius: 8px;
}
.third-left p{   
    font-style: italic; 
    padding:30px 33px 0px 30px;
    color:#4D533C;
}
.third-left h3{
    margin-top: -120px;
    margin-left: 93px;
    color: #4D533C;
}
#line{
    margin-top: 150px;
}
#line2{
    margin-top: 610px;
    position: absolute;
}
#line3{
    position: absolute;
    margin-top: 990px;
    width: 1110px;
}
#line4{
    height: 200px;
    width: 0px;
    position: absolute;
    left: 705px;
    top: 188px;
}
.wrap3 p{
    margin-top: -52px;
    margin-left: 63px;
    font-style: normal;
    color: #152934;
}
.third img{
    margin-left: -8px;
}
.oval2 img{
    margin-left: 9px;
}
.third-right{
    width: 421px;
    position: relative;
    left: 832px;
    bottom: 780px;
    
}
.third-right h2{
    width: 475px;
    height: 104px;
    margin-bottom: 24px;
    font-size: 36px;
    color: #4D533C;
}
.third-right p{
    font-size: 16px;
    color: rgba(33, 56, 66, 0.6);
    margin-top: 0;
    height: 156px;
    margin-bottom: 90px;
}
.top-bottom{
    position: relative;
    bottom: 178px;
    margin-left: 165px;
}
.top-bottom h2{
    color: #4D533C;
}
.mid-bottom{
    display: flex;
}
.bottom h2{
    width: 607px;
    height: 92px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46PX;
}#p1{
    width: 255px;
    height: 309px;
}
#p1 h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    padding:27px 42px 0px 30px;
    text-transform: uppercase;
    color: #4D533C;
}
#p1 p{
    width: 194px;
    height: 78px;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 56px;
    color: #21384299;
}
#p1 a{
   padding-left:15px;
   width: 102px;
   height: 24px;
   
}
#p1 a:hover{
    color:#FFD723;
}
#p2{
    width: 255px;
    height: 309px;
    margin-left: 60px;
}
#p2 h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    padding:27px 42px 0px 30px;
    text-transform: uppercase;
    color: #4D533C;
}
#p2 p{
    width: 194px;
    height: 104px;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #21384299;
    
}
#p2 a{
    padding-left: 15px;
    width: 102px;
    height: 24px;
}
#p2 a:hover{
    color:#FFD723;
}
#p3{
    width: 255px;
    height: 309px;
    margin-left: 91px;
}
#p3 h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    padding:27px 42px 0px 30px;
    text-transform: uppercase;
    color: #4D533C;
}
#p3 p{
    width: 194px;
    height: 78px;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 56px;
    color: #21384299;
    
}
#p3 a{
    padding-left: 15px;
    width: 102px;
    height: 24px;;
}
#p3 a:hover{
    color:#FFD723;
}
#p4{
    width: 255px;
    height: 309px;
    margin-left: 91px;
}
#p4 h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    padding:27px 42px 0px 30px;
    text-transform: uppercase;
    color: #4D533C;
}
#p4 p{
    width: 194px;
    height: 104px;
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #21384299;
}
#p4 a{
    padding-left: 15px;
   width: 102px;
   height: 24px;
}
#p4 a:hover{
    color:#FFD723;
}
.insp{ position: relative;
    background-color:#FAFAFA;
    width: 1275px;
    height: 362px;
    top: -205px;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.insp h1{
    
    color:#4D533C;
    width: 822px;
    height: 148px;
    margin-left: 164px;
   padding-top: 70px;
}
.insp a{
    margin-bottom: 50px;
    margin-left: 164px;
}
.bottom{
    position: absolute;
    display: flex;
    background: white url(/img/Bg.png)  no-repeat;
    width: 1440px;height: 920px;
    margin-top: 150px;
    left:0px   ;
    
}
a.greyP{
    position: relative;
    background: url(/img/greyPo.png) no-repeat;
    display: block;
    color: #D4D6D4;
    left: 30px;
   width: 20px;
   
}
a.greyP:hover{
background: url(/img/yellowPo.png) no-repeat;

}
#number p{
    color:#B6C197;
    font-size: 16px;
}
#number{
    position: relative;
    margin-left: 165px;
    width: 178px;
    height: 100px;
    top: 300px;
    right: 68%;
}
.phone{
    color:#FFFFFF;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    width: 118px;
}
#adress p{
    color:#B6C197;
    font-size: 16px;
    width:208px;
}
#adress{
    position: relative;
    margin-left: 150px;
    width: 178px;
    height: 100px;
    top: 300px;
    right: 70%;
}
.location{
    color:#FFFFFF;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    width: 208px;
}
.info{
    position: absolute;
    display: flex;
    margin-top: 500px; 
}
.info h3{
    color: white;
}
.n1 {
    width: 159px;
    height: 200px;
    color:#B6C197;
    line-height: 40px;
    margin-left: 166px;
    margin-top: 161px;
}
.n2 {
    width: 159px;
    height: 200px;
    color:#B6C197;
    line-height: 40px;
    margin-left: 78px;
    margin-top: 161px;
}
.n3 {
    width: 159px;
    height: 160px;
    color:#B6C197;
    line-height: 40px;
    margin-left: 121px;
    margin-top: 161px;
}
.n4 {
    width: 319px;
    color:#B6C197;
    height: 225px;
    margin-left: 120px;
    margin-top: 167px;
    line-height: 24px;
}
.n4 a{
    color: #FFFFFF;
    font-size: 24px;
}
.n4 p{
    margin-bottom: 23px;
}
.socials{
    display: flex  ;
    
}
.socials a{
    margin-left: 13px;
}
a.socialsFB {
    position: relative;
    background: url(/img/facebook.png);
    display: block;
    width: 33px;height: 33px;
}
a.socialsFB:hover{
    background: url(/img/facebookYellow.png);
}
a.socialsTwit {
    position: relative;
    background: url(/img/twitter.png) no-repeat;
    display: block;
    width: 36px;height: 36px;
}
a.socialsTwit:hover{
    background: url(/img/twitterYellow.png) no-repeat;
}
a.socialsGo {
    position: relative;
    background: url(/img/google.png) no-repeat;
    display: block;
    width: 36px;height: 36px;
}
a.socialsGo:hover{
    background: url(/img/googleYellow.png) no-repeat;
}
a.socialsIn {
    position: relative;
    background: url(/img/instagram.png) no-repeat;
    display: block;
    width: 38px;height: 38px;
}
a.socialsIn:hover{
    background: url(/img/instagramYellow.png) no-repeat;
}
.webovio{
    position: absolute;
    display: inline;
    margin-top: 20px;
    top: 6027px;
    bottom: 40px;
}
.webovio p{
    margin-left: 960px;
    margin-top: 25px;
    color: #B5C096;
}
.webovio img{
    width: 140px;
    height: 26px;
}
